<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            font-family: poppins;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>

    <form action="" method="POST">
        <div>
            <label for="request">
                request
            </label>
            <textarea name="request" id="request">

            </textarea>
        </div>
        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="name">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>